@charset "UTF-8";
@import url("https://use.typekit.net/mds4uot.css");

.verde {
    color: #95C154;
}

.azul {
    color: #0040A7 !important;
}

body {
    font-family: 'Congenial', sans-serif;
    font-size: calc(.7 * (1.5vh + 1.1vw));
}

@media (min-width: 768px) {
    body {
        font-size: calc(.5 * (1.5vh + 1.1vw));
    }
}

h1 {
    font-size: calc(1.3 * (2.2vh + 1.1vw));
    line-height: 1.2;
    color: #0040A7;
    font-weight: 700;
}

@media (min-width: 768px) {
    h1 {
        font-size: calc(1 * (1.8vh + 1.1vw));
    }
}

h2 {
    font-size: calc(1.4 * (1.5vh + 1.1vw));
    line-height: 1.2;
}

h3 {
    color: #95C154;
    font-size: calc(1.8 * (1.5vh + 1.1vw));
    font-weight: 700;
}

@media (min-width: 768px) {
    h3 {
        font-size: calc(1 * (1.5vh + 1.1vw));
    }
}

h4 {
    color: #0040A7;
    font-size: calc(.7 * (1.5vh + 1.1vw));
    position: relative;
}

@media (min-width: 768px) {
    h4 {
        font-size: calc(.4 * (1.5vh + 1.1vw));
    }
}

h4::before {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    top: 5px;
    left: -40px;
    position: absolute;
    background: #0040A7;
}

p {
    color: #0040A7;
}

.el-separador {
    background: white;
}

.el-separador img {
    width: 100%;
    height: auto;
    display: block;
}

.navbar {
    transition: background .2s ease-out;
}

.navbar .nav-item .nav-link {
    display: block;
    font-size: 1rem;
    padding: 4px 15px !important;
    margin: 0 12px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 25px;
    transition: all .3s ease-out;
}

@media (min-width: 1200px) {
    .navbar .nav-item .nav-link {
        padding: 4px 20px !important;
    }
}

.navbar .nav-item .nav-link:hover {
    background: rgba(255, 255, 255, 0.3) !important;
}

.navbar .nav-item .dropdown-menu {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    background: rgba(255, 255, 255, 0.1) !important;
}

.navbar .nav-item .dropdown-menu a {
    color: white;
}

.navbar .nav-item .dropdown-menu a:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.navbar .btn-iscribete-menu {
    color: #0040A7;
    background: white;
    text-decoration: none;
    padding: 4px 20px !important;
    border-radius: 25px;
    border: 1px solid white;
    transition: all .3s ease-out;
}

@media (min-width: 1560px) {
    .navbar .btn-iscribete-menu {
        margin-left: 3rem;
    }
}

.navbar .btn-iscribete-menu:hover {
    color: white;
    background: #95C154;
}

.navbar .navbar-brand .logo-blanco {
    width: 90px;
    height: auto;
}

.navbar .navbar-brand.inner .logo-color {
    display: none;
}

.navbar.affix {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
}

.navbar.affix .navbar-brand.inner .logo-color {
    display: block;
}

.navbar.affix .navbar-brand.inner .logo-blanco {
    display: none;
}

.navbar.affix .nav-link {
    color: #0040A7;
    border: 1px solid #0040A7 !important;
    background: rgba(255, 255, 255, 0.1) !important;
}

.navbar.affix .nav-link:hover {
    background: rgba(255, 255, 255, 0.3) !important;
}

.navbar.affix .dropdown-menu {
    border: 1px solid #0040A7 !important;
    background: rgba(255, 255, 255, 0.1) !important;
}

.navbar.affix .dropdown-menu a {
    color: #0040A7;
}

.navbar.affix .dropdown-menu a:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.navbar.affix .btn-iscribete-menu {
    color: white;
    background: #0040A7;
    border: 1px solid #0040A7;
}

.navbar.affix .btn-iscribete-menu:hover {
    background: #95C154;
}

/**************
HERO
**************/
.bl-hero {
    padding-top: 80px;
}

@media (min-width: 768px) {
    .bl-hero {
        padding-top: 120px;
    }
}

.bl-hero .co-cifras {
    display: flex;
    margin: 0;
    gap: 15px;
    flex-direction: row;
    background: url("https://garciaantonio20k.github.io/congresohidrogenoverde/images/banner-top-mobile.jpg") no-repeat center center;
    background-size: cover;
    padding: 10rem 15px 1rem 15px;
    border-radius: 35px;
}

@media (min-width: 768px) {
    .bl-hero .co-cifras {
        padding: 0;
        background: none;
        margin: 0 0 20px 20px;
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .bl-hero .co-cifras {
        margin: 0 0 0 30px;
        flex-direction: row;
    }
}

.bl-hero .co-cifras>* {
    flex: 1;
}

.bl-hero .co-cifras div {
    color: #1B1C57;
    border-radius: 20px;
    background: white;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    flex-direction: column;
}

.bl-hero .co-cifras div a {
    color: #1B1C57;
    text-decoration: none;
}

@media (min-width: 768px) {
    .bl-hero .co-cifras div {
        gap: 10px;
    }
}

@media (min-width: 992px) {
    .bl-hero .co-cifras div {
        padding: 10px 0 10px 10px;
        gap: 5px;
        justify-content: flex-start;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .bl-hero .co-cifras div {
        padding: 15px 0 15px 15px;
        font-size: 1.1rem;
        gap: 10px;
    }
}

@media (min-width: 992px) {
    .bl-hero {
        min-height: 760px;
    }
}

.bl-hero .bg {
    display: none;
}

@media (min-width: 768px) {
    .bl-hero .bg {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        z-index: -1;
        height: 680px;
        background: url(../images/fd-hero.jpg);
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 992px) {
    .bl-hero .bg {
        height: 720px;
    }
}

.co-hero {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

@media (min-width: 768px) {
    .co-hero {
        margin: 4rem 0;
        gap: 20px;
    }
}

.co-hero--inscribete {
    border: 1px solid #E0E3EB;
    padding: 15px 15px 15px 25px;
    display: flex;
    width: fit-content;
    border-radius: 50px;
    gap: 20px;
}

.co-hero--inscribete .btn-inscribete {
    font-size: 1rem;
    color: white;
    background: #95C154;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 40px 10px 20px;
    position: relative;
    transition: all .3s ease-out;
}

.co-hero--inscribete .btn-inscribete:hover {
    background: #0040A7;
}

.co-hero--inscribete .btn-inscribete::after {
    content: '';
    display: block;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 26 49" fill="none"><path d="M3 3.23122L23 24.5733L3 45.9153" stroke="white" stroke-width="8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 7px;
    height: 14px;
    right: 18px;
    top: 15px;
    transition: all 0.3s cubic-bezier(0.17, 0.72, 0.48, 0.97);
}

@media (min-width: 768px) {
    .co-hero--inscribete .btn-inscribete::after {
        width: 7px;
        height: 14px;
        right: 18px;
        top: 15px;
    }
}

@media (min-width: 992px) {
    .co-hero--inscribete .btn-inscribete::after {
        width: 7px;
        height: 14px;
        right: 18px;
        top: 15px;
    }
}

.co-hero--logos {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .co-hero--logos {
        gap: 20px;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {
    .co-hero--logos {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
    }
}

.co-hero--logos img:first-child {
    width: 60px;
    height: auto;
}

@media (min-width: 768px) {
    .co-hero--logos img:first-child {
        width: 90px;
        height: auto;
    }
}

.co-hero--logos img:last-child {
    width: 200px;
    height: auto;
}

@media (min-width: 768px) {
    .co-hero--logos img:last-child {
        width: 280px;
        height: auto;
    }
}

/**************
INTRO
**************/
.bl-intro {
    color: white;
    background: #95C154;
    padding-top: 4rem;
}

.bl-intro h2 {
    color: white;
    font-weight: 600;
}

.bl-intro p {
    color: white;
}

/**************
CUENTA ATRÁS
**************/
.contador {
    width: 100%;
    height: 265px;
    overflow: hidden;
}

.countdown {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.countdown>div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 7vw;
    color: #0040A7;
    width: 100%;
}

.countdown>div span {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

@media (min-width: 768px) {
    .countdown>div span {
        font-size: 5rem;
    }
}

.countdown>div .smalltext {
    text-transform: uppercase;
    font-weight: 100;
    font-size: .9rem;
}

/**************
ACCESOS DIRECTOS
**************/
.bl-accesos {
    padding: 4rem 0 5rem;
}

.bl-accesos .co-acceso {
    display: block;
    background: #95C154;
    border-radius: 2rem;
    padding: 30px 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-decoration: none;
    margin-bottom: 2rem;
    position: relative;
    transition: all 0.3s cubic-bezier(0.17, 0.72, 0.48, 0.97);
    cursor: pointer;
}

.bl-accesos .co-acceso::after {
    content: '';
    display: block;
    width: 26px;
    height: 49px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="49" viewBox="0 0 26 49" fill="none"><path d="M3 3.23122L23 24.5733L3 45.9153" stroke="white" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 40px;
    top: 52px;
    transition: all 0.3s cubic-bezier(0.17, 0.72, 0.48, 0.97);
}

.bl-accesos .co-acceso:hover {
    opacity: .9;
}

.bl-accesos .co-acceso:hover::after {
    right: 30px;
}

.bl-accesos .co-acceso img {
    width: 96px;
}

.bl-accesos .co-acceso span {
    color: #0040A7;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 15px;
    text-decoration: none;
}

/**************
STANDS
**************/
.bl-stands {
    padding: 0 0 5rem;
}

/**************
SEDE
**************/
.bl-sede {
    padding: 5rem 0 5rem;
}

/**************
NEWSLETTER
**************/
.bl-newsletter {
    margin-bottom: 5rem;
}

.bl-newsletter .co-newsletter {
    border-radius: 30px;
    background: url("../images/fd-newsletter.jpg") no-repeat center center;
    background-size: cover;
    min-height: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bl-newsletter .co-newsletter h2 {
    font-size: calc(1.2 * (1.5vh + 1.1vw));
    color: white;
}

/**************
TABS
**************/
.co-tabs {
    text-align: center;
    background-color: #0040A7;
    border-radius: 30px;
    padding: 30px 15px;
    color: white;
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    .co-tabs {
        padding: 30px;
    }
}

@media (min-width: 992px) {
    .co-tabs {
        padding: calc(3 * (1.5vh + 1.1vw)) 30px;
    }
}

@media (min-width: 1200px) {
    .co-tabs {
        padding: calc(3 * (1.5vh + 1.1vw)) 40px;
    }
}

.co-tabs h2 {
    color: white;
    font-weight: 700;
    padding-bottom: 2rem;
}

@media (min-width: 992px) {
    .co-tabs h2 {
        padding-bottom: 4rem;
    }
}

.co-tabs--inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

@media (min-width: 768px) {
    .co-tabs--inner {
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .co-tabs--inner {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .co-tabs--inner {
        gap: 40px;
    }
}

.co-tabs--inner table td {
    padding: 8px 8px;
    font-size: calc(.6 * (1.5vh + 1.1vw));
    border-bottom: 1px solid white;
    line-height: 1.1;
}

.co-tabs--inner table td.bloque {
    padding: 10px 8px;
    font-weight: bold;
    color: #0040A7;
    font-size: 1.1rem;
    text-align: center;
    /*border-radius: 6px;*/
    border: none;
}

.co-tabs--inner table td.hora {
    color: #0040A7;
}

@media (min-width: 992px) {
    .co-tabs--inner table td {
        font-size: 1rem;
    }
}

.co-tabs .nav {
    margin: 0;
    padding: 0;
    transition: all 1s ease-out;
    position: relative;
    left: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 15px;
}

@media (min-width: 992px) {
    .co-tabs .nav {
        width: 40% !important;
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .co-tabs .nav {
        width: 30% !important;
    }
}

.co-tabs .nav .nav-link {
    color: white;
    background: #95C154;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    font-size: calc(.7 * (1.5vh + 1.1vw));
    font-weight: 800;
    text-align: left;
    position: relative;
    transition: all .3s ease-out;
    line-height: 1.2;
    text-align: center;
}

.co-tabs .nav .nav-link.active {
    background: white;
    color: #95C154;
}

@media (min-width: 768px) {
    .co-tabs .nav .nav-link.active::after {
        background-image: url('data:image/svg+xml;utf8,<svg width="26" height="49" viewBox="0 0 26 49" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 3.23122L23 24.5733L3 45.9153" stroke="%2395C154" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
}

@media (min-width: 768px) {
    .co-tabs .nav .nav-link {
        font-size: 1.2rem;
        padding: 18px 20px;
        margin-bottom: 10px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .co-tabs .nav .nav-link {
        font-size: 1.3rem;
        padding: 20px 30px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .co-tabs .nav .nav-link {
        font-size: 1.3rem;
    }
}

.co-tabs .nav .nav-link:hover {
    opacity: .8;
}

.co-tabs .nav .nav-link:hover::after {
    right: 10px;
}

@media (min-width: 992px) {
    .co-tabs .nav .nav-link {
        padding: 22px 30px;
        border-radius: 20px;
    }
}

.co-tabs .nav .nav-link:after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 15px;
    height: 28px;
    right: 12px;
    top: 13px;
    transition: all 0.3s cubic-bezier(0.17, 0.72, 0.48, 0.97);
    transform: rotate(90deg) scale(0.6) translateX(8px);
}

@media (min-width: 768px) {
    .co-tabs .nav .nav-link:after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="49" viewBox="0 0 26 49" fill="none"><path d="M3 3.23122L23 24.5733L3 45.9153" stroke="white" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
        width: 26px;
        height: 49px;
        right: 20px;
        top: 15px;
    }
}

@media (min-width: 992px) {
    .co-tabs .nav .nav-link:after {
        top: 18px;
        width: 26px;
        height: 49px;
        right: 20px;
        top: 15px;
        transform: rotate(0deg) scale(0.8) translateX(10px) translateY(12px);
    }
}

@media (min-width: 1200px) {
    .co-tabs .nav .nav-link:after {
        top: 18px;
        width: 26px;
        height: 49px;
        right: 15px;
        top: 15px;
        transform: rotate(0deg) scale(0.7) translateX(0px) translateY(-4px);
    }
}

.nav-pills {
    margin-right: 0;
}

.tab-pane {
    /*display: none;*/
    text-align: left;
    /*background: #95C154;*/
    padding: 15px;
    border-radius: 20px;
}

.tab-pane h3 {
    font-size: calc(.7 * (1.5vh + 1.1vw));
    margin-bottom: 0;
    line-height: 1.2;
    color: #0040A7;
}

.tab-pane p {
    color: white;
}

@media (min-width: 992px) {
    .tab-pane {
        padding: 30px;
        border-radius: 30px;
    }
}

@media (min-width: 1200px) {
    .tab-pane {
        padding: 30px;
        border-radius: 30px;
    }
}

.tab-pane.active {
    display: block;
}

.tab-content {
    /*display: none;*/
}

.tab-content.show {
    display: block;
    width: 60%;
}

/************
FOOTER
************/
footer {
    font-size: calc(.6 * (1.5vh + 1.1vw));
}

@media (min-width: 768px) {
    footer {
        font-size: calc(.45 * (1.5vh + 1.1vw));
    }
}

footer hr {
    border-top: 1px solid #95C154;
    opacity: 1;
}

footer h4 {
    color: #95C154;
    text-transform: uppercase;
    font-size: calc(.8 * (1.5vh + 1.1vw));
    text-align: center;
}

@media (min-width: 992px) {
    footer h4 {
        font-size: calc(.5 * (1.5vh + 1.1vw));
        text-align: left;
    }
}

footer h4::before {
    display: none;
}

footer .co-menu {
    display: flex;
    gap: 30px;
    justify-content: center;
}

@media (min-width: 992px) {
    footer .co-menu {
        justify-content: space-between;
    }
}

footer .co-menu ul {
    padding: 0;
}

footer .co-menu ul li {
    display: block;
    margin-bottom: .6rem;
    font-size: calc(.6 * (1.5vh + 1.1vw));
}

@media (min-width: 768px) {
    footer .co-menu ul li {
        font-size: calc(.45 * (1.5vh + 1.1vw));
    }
}

footer .co-menu ul li a {
    color: #0040A7;
    text-decoration: none;
}

footer .co-rrss {
    display: flex;
    gap: 10px;
    padding: 0;
}

footer .co-rrss li {
    display: block;
}

footer .co-rrss li a {
    transition: all .3s ease-out;
}

footer .co-rrss li a:hover {
    opacity: .8;
}

footer .co-underfooter {
    margin-top: 2rem;
}

footer .co-underfooter a {
    padding: 0 15px;
    display: inline-block;
    color: #0040A7;
    text-decoration: none;
}

/**********
INTERIORES
***********/
.bl-title {
    background: #95C154;
    padding: 8rem 0 0 0;
    display: block;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .bl-title {
        padding: 8rem 0 0 0;
        margin-bottom: 5rem;
    }
}

.bl-title h1 {
    color: white;
    font-size: calc(1.5 * (2.2vh + 1.1vw));
    margin-bottom: 2rem;
}

.bl-ponentes {
    margin-bottom: 6rem;
}

.bl-ponentes .co-ponente {
    border-radius: 30px;
    width: 100%;
    padding-top: 69%;
    /*padding-top: 69%;*/
    position: relative;
    overflow: hidden;
    background-color: black;
    margin-bottom: 30px;
}

.bl-ponentes .co-ponente img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: .8;
    transform: scale(1);
    transition: all .3s ease-out;
}

.bl-ponentes .co-ponente:hover img {
    opacity: 1;
    transform: scale(1.1);
}

@media (min-width: 992px) {
    .bl-ponentes .co-ponente {
        border-radius: 40px;
    }
}

@media (min-width: 1200px) {
    .bl-ponentes .co-ponente {
        border-radius: 40px;
    }
}

.bl-ponentes .co-ponente--empresa {
    color: white;
    position: absolute;
    top: 30px;
    left: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    font-size: .8rem;
}

@media (min-width: 1200px) {
    .bl-ponentes .co-ponente--empresa {
        font-size: .9rem;
    }
}

.bl-ponentes .co-ponente--datos {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
}

.bl-ponentes .co-ponente--datos--empleo {
    background: white;
    border-radius: 15px;
    color: #0040A7;
    padding: 0.2rem .8rem;
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .8rem;
}

@media (min-width: 1200px) {
    .bl-ponentes .co-ponente--datos--empleo {
        font-size: .8rem;
        padding: 0.2rem 1rem;
    }
}

.bl-ponentes .co-ponente--datos--nombre {
    color: white;
    font-weight: 700;
    font-size: calc(1 * (2.2vh + 1.1vw));
    line-height: 1;
}

@media (min-width: 768px) {
    .bl-ponentes .co-ponente--datos--nombre {
        font-size: calc(1.2 * (2.2vh + 1.1vw));
        font-size: 1.8rem;
    }
}

@media (min-width: 1200px) {
    .bl-ponentes .co-ponente--datos--nombre {
        font-size: 2rem;
    }
}

/**********
CONTACTO
***********/
.co-contacto {
    background: white;
    padding: 30px;
    border-radius: 22px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 768px) {
    .co-contacto {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .co-contacto {
        padding: 450px;
    }
}

@media (min-width: 1200px) {
    .co-contacto {
        padding: 60px;
    }
}

.co-contacto>div {
    flex: 1;
}

.co-contacto h2 {
    color: #0040A7;
    margin-bottom: 1.5rem;
    font-size: calc(.9 * (2.2vh + 1.1vw));
}

@media (min-width: 768px) {
    .co-contacto h2 {
        font-size: calc(.75 * (2.2vh + 1.1vw));
    }
}

.co-contacto p {
    margin-bottom: 1.8rem;
}

.co-contacto a {
    color: #0040A7;
    text-decoration: none;
}

.co-contacto a:hover {
    text-decoration: underline;
}

.co-contacto svg {
    fill: #95C154;
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
}

/**************
HOTELES
**************/
.slick-hoteles {
    padding: 5rem 0;
}

.slick-hoteles h4 {
    color: #0040A7;
    font-size: calc(.4 * (1.5vh + 1.1vw));
    position: relative;
}

.slick-hoteles h4::before {
    content: '';
    display: block;
    height: 1px;
    width: 30px;
    top: 0;
    left: auto;
    position: relative;
    background: #0040A7;
    margin: 0 auto 6px;
}

.seccion-hoteles img {
    border-radius: 30px;
    width: 100%;
    border-radius: 30px;
}

.seccion-hoteles .panel-hotel {
    background: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.2);
    position: relative;
    width: 90%;
    left: 5%;
    z-index: 10;
    margin-top: -60px;
}

.slick-hoteles .ubicacion-texto {
    width: 75%;
    margin-bottom: .3rem;
}

.seccion-hoteles .co-panel--ubicacion {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}


.seccion-hoteles .ubicacion-estrellas img {
    width: 100%;
    max-height: 28px;
}

.seccion-hoteles h3 {
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    color: #0040A7;
    margin-bottom: 20px;
}

.seccion-hoteles .ubicacion-estrellas {
    overflow: hidden;
    display: inline-block;
    margin: 10px 0;
    margin-bottom: 20px;
}

.seccion-hoteles .ubicacion-estrellas img {
    width: 100%;
}

.seccion-hoteles .slick-slide {
    padding: 0 5px 40px 15px;
}

.seccion-hoteles .ubicacion-texto p.titulo {
    color: #0040A7;
    font-size: 14px;
    font-weight: bold;
}

.seccion-hoteles .ubicacion-texto p.texto {
    color: #888B97;
    font-size: 14px;
}

@media (min-width: 768px) {
    .slick-hoteles .slick-slide {
        padding: 0 15px 40px 15px;
    }
}

.slick-hoteles .slick-slide>div>div img {
    position: relative;
}

.slick-hoteles .slick-slide>div>div .co-panel {
    background: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.2);
    position: relative;
    width: 90%;
    left: 5%;
    z-index: 10;
    margin-top: -60px;
}

.slick-hoteles .slick-slide>div>div .co-panel h3 {
    color: #0040A7;
    font-size: calc(.8 * (1.5vh + 1.1vw));
}

.slick-hoteles .slick-slide>div>div .co-panel p {
    color: #626687;
    font-size: calc(.6 * (1.5vh + 1.1vw));
}

@media (min-width: 768px) {
    .slick-hoteles .slick-slide>div>div .co-panel {
        width: 84%;
        left: 8%;
        border-radius: 30px;
        padding: 30px;
        margin-top: -75px;
    }

    .slick-hoteles .slick-slide>div>div .co-panel h3 {
        color: #0040A7;
        font-size: calc(.6 * (1.5vh + 1.1vw));
    }

    .slick-hoteles .slick-slide>div>div .co-panel p {
        color: #626687;
        font-size: calc(.4 * (1.5vh + 1.1vw));
    }
}

@media (min-width: 992px) {
    .slick-hoteles .slick-slide>div>div .co-panel {
        margin-top: -75px;
    }
}

@media (min-width: 1200px) {
    .slick-hoteles .slick-slide>div>div .co-panel {
        margin-top: -150px;
    }
}

.slick-hoteles .slick-slide>div>div .co-panel--ubicacion {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.slick-hoteles .slick-slide>div>div .co-panel--ubicacion p {
    margin-bottom: 0;
}

.slick-hoteles .slick-slide>div>div .co-panel--ubicacion-texto {
    width: 75%;
    margin-bottom: .3rem;
}

.slick-hoteles .slick-slide>div>div .co-panel--ubicacion-estrellas {
    width: calc(25% - 20px);
    margin-bottom: .3rem;
}

.slick-hoteles .slick-slide>div>div .co-panel--ubicacion-estrellas img {
    width: 100%;
    max-height: 22px;
}

/**********
BOOTSTRAP OVERRAYS
***********/
body>.container>.navbar {
    display: none !important;
}

body>.container,
body>.container-lg,
body>.container-md,
body>.container-sm,
body>.container-xl {
    width: 100% !important;
    max-width: 100% !important;
}

main>.row,
main>.row>.col-12 {
    padding: 0 !important;
}

button.navbar-toggler {
    background: white;
    border: none;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/**********
TFE
***********/
footer>.textoLegal,
footer>.powered,
footer>.politicaCookies {
    font-size: .8rem;
}


.na