:root {
    --boton-fondo-azul: #C2D1EA;
    --boton-letra-azul: #0040A7;
    --fondo-verde: #95C154;
}

p {
    font-family: 'Lexend', sans-serif;
    size: 16px;
}

.linea-seccion {
    display: inline-block;
    vertical-align: middle;
    color: #95C154;
    width: 30px;
    height: 5px;
    margin-right: 10px;
    opacity: 1;
}

.contenido-seccion {
    padding-left: 40px;
}

.texto-verde {
    color: #95C154;
}

.container-reserva-plaza {
    border: 1px solid #E0E3EB;
    border-radius: 30px;
    padding: 16px;
    width: 300px;
    text-align: center;
}

.btn-reserva-plaza {
    background-color: #95C154;
    color: white;
    padding: 12px 16px;
    border-radius: 20px;
    text-decoration: none;
}

.seccion-verde {
    background-color: #95C154;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

/* ***************************
Newsletter
****************************** */
.container-newsletter {
    font-family: 'Lexend', sans-serif;
    width: 40%;
    background-color: white;
    padding: 5px;
    display: flex;
    /* disposicion elementos */
    flex-direction: row;
    /* que hacer si la pantalla se reduce */
    flex-wrap: nowrap;
    /* como se disponen los elementos dentro del contenedor */
    justify-content: space-between;
    /* alineamiento horizontal */
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;

}

.container-newsletter .input-text {
    border: 0;
    color: black;
    padding: 5px;
    outline: none;
    display: inline-block;
    width: 100%;
}

.container-newsletter .input-submit {
    background-color: #95C154;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}


.botonera-enlace {
    color: #245BB4 !important;
}

.botonera-enlace a {
    background-color: #C2D1EA !important;
}

.menu-btn-inscripcion {
    font-size: 1rem;
    color: white;
    background: var(--fondo-verde);
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 40px 10px 20px;
    position: relative;
    transition: all .3s ease-out;
}

.menu-enlace {
    padding: 5px 10px;
    border: 1px solid var(--boton-letra-azul);
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
    color: var(--boton-letra-azul);
    background: var(--boton-fondo-azul);
}

.fondo-azul {
    background-color: var(--boton-letra-azul);
}

.fondo-verde {
    background-color: var(--fondo-verde);
}

.texto-blanco {
    color: white;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;

}
.texto-azul {
    color: var(--boton-letra-azul);
}
.fondo-blanco {
 background-color: white;   
}
.tabla {
    width: 100%;
    
}
.tabla tr {
    text-align: center;
}
.tabla td {
    text-align: center;
}
.fila-titulo {
    background-color: white;   
    color: var(--boton-letra-azul);
}
.tabla-programa .horario {
    text-align: left;
    font-size: 1em;
}