#wrapper
{
	overflow: hidden
}


#pb_top .panel_inicio img
{
	width: 100%;
	height: auto;
}

#panelInicioDT
{
	display: block
}

#panelInicioMB
{
	display: none
}

/* BOTONES DE LA PANTALLA DE INICIO */
.inicio .inicioButtons li a
{
	max-height: 200px;
	min-height: 200px;
}
/* FIN DE LOS BOTONES DE LA PANTALLA DE INICIO */

/* TABLA DE DOCUMENTOS */
/*.tablaDocumentos
{

}*/


.tablaDocumentos .data-titulo
{
	max-width: 85%;
	min-width: 85%;
}

.tablaDocumentos td.td-fecha
{
	max-width: 15%;
	min-width: 15%
}
/* FIN TABLA DE DOCUMENTOS */

.accordionInvitaciones .tfeicon-accordion
{
	display: block;
    position: absolute;
    right: 12px;
    top: 15px;
	background-position: -40px -160px;
	cursor: pointer;
}

/*.table button[type="button"].btn-importar-bbdd
{
	padding-left: 20px;
	padding-right: 20px;
}

.paginacion-invitaciones
{
	height : 55px;
}*/

.avatarFichaPonente
{
}

h4.cuentaResultadosBusqueda, h3.cuentaResultadosBusqueda
{

}

.btn-pdf
{

}

.row-boton-pdf
{

}

.paginacionMB
{
	display : none;
}


.leyenda-agenda
{
	margin-top: 10px
}

form .form-group .form-group-filtro-programa
{

}

.table-pagos
{

}

.td-oculto-mb
{

}

.table > tbody > tr > td .data2
{
    display: none
}

.table#tablaCodigos > tbody > tr > td .data2
{
    display: block
}

.modal-body .botones-acciones-ventana button, .modal-body .botones-acciones-ventana .switch
{

}

.title-mb
{

}

.tablaListadoExpositores
{

}

.tablaListadoExpositores .columnaFavoritos
{
	width: 120px;
}

.col-md-4#classMDExpositor .listadoNecesidades
{
	display: none
}

/* BOTON DE FAVORITOS EN FICHA DE ACTIVIDADES Y EXPOSITORES */
.botones button.btn-favoritos
{
	padding-right : 5px;
	padding-left : 5px;
}

.botones button.btn-favoritos .icon-star-line::before, .botones button.btn-favoritos .icon-star-solid::before {
	line-height: 1em;
    font-size: 2em;
}

.table button[type=submit].btn-favoritos .icon-star-line, table button[type=submit].btn-favoritos .icon-star-solid
{
	font-size: 1.5em;
}

.agenda .stack button[type=submit].btn-favoritos .icon-star-line, .agenda .stack button[type=submit].btn-favoritos .icon-star-solid
{
	font-size: 1.5em;
}

.datosEmpresa .avatar-logo-patrocinador
{
    height: 56px;
}

.datosEmpresa .avatar-logo-patrocinador img
{
    height: 100%;
    width: auto;
}

.panel_patrocinadores
{
	background: #fff;
}
/* PUNTUACIÓN DE LAS GALERÍAS*/
.data.puntuacion .rating *
{
	font-size: 24px
}

.puntuacion .rating > [type*="checkbox"] {
  display: none !important;
}
.puntuacion .rating > [type*="checkbox"] + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  height: 1.4em;
  white-space: nowrap;
}

.puntuacion .rating > [type*="checkbox"] + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: '\2606';
  /* WHITE STAR */
  color: #627889;
}
.puntuacion .rating > [type*="checkbox"]:checked  label:before, .puntuacion .rating > [type*="checkbox"] + label:hover label:before, .puntuacion .rating > [type*="checkbox"] + label:hover:before
{
  content: '\2605';
  /* BLACK STAR */
  /*color: #e52;*/
  color: rgb(247,193,40);
  text-shadow: 0 0 1px #e7e7e7;
}
.puntuacion .rating > .rating-clear[type*="checkbox"] + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.puntuacion .rating > .rating-clear[type*="checkbox"] + label:before {
  width: .5em;
  height: 1.4em;
}
.puntuacion .rating:hover > [type*="checkbox"] + label:before {
  content: '\2606';
  /* WHITE STAR */
  color: #ccc;
  text-shadow: none;
}
.puntuacion .rating:hover > [type*="checkbox"] + label:hover  label:before, .puntuacion .rating:hover > [type*="checkbox"] + label:hover:before
{
  content: '\2605';
  /* BLACK STAR */
  color: #627889;
  text-shadow: 0 0 1px #ccc;
}

.listadoFrases #puntuacionMedia, .listadoFotos #puntuacionMedia
{
	text-align: center
}

.listadoFrases td#puntuacion, .listadoFotos td#puntuacion
{
	width: 160px;
}

.listadoFrases td#puntuacionMedia
{
	width: 125px;
}

.listadoFrases > thead > tr > th.puntuacionMedia, .listadoFotos > thead > tr > th.puntuacionMedia
{
    border-bottom: 0 none;
    font-weight: normal;
    padding-left: 0px;
    vertical-align: middle;
    text-align: center;
}

.listadoFrases span#puntuacionMedia, .listadoFotos span#puntuacionMedia
{
	display: none
}

.listadoFrases span#textoMedia, .listadoFotos span#textoMedia
{
	display: none
}

.listadoFotos > tbody > tr > td img.hrz {
    height: 150px;
    width: auto
}

.slide button.close
{
	height: 24px;
	width: 24px;
}

.oculto
{
	display: none
}

.table>tbody>tr>td img.square
{
	max-height: 150px;
	max-width: 60px;
	height: auto;
}

.datosPersonales .data
{
	max-width: 280px;
}

/* BANNERS DE PATROS */
#pb_top .panel_patrocinadores ul
{
	height: 105px;
	font-size : 0px; /* PARA QUITAR LE HUECO QUE PROVOCA EL DISPLAY: INLINE-BLOCK*/
}

#pb_top .panel_patrocinadores ul li {
    height: 65px;
    line-height: 65px;
    margin: 20px 0;
    padding: 0 20px;
    border-right: 1px solid #ccc;
}

#pb_top .panel_patrocinadores ul li img.hrz
{
	height: auto;
    max-height: 45px;
    max-width: 90px;
}

#pb_top .panel_patrocinadores ul li img.vert
{
	height: auto;
    max-height: 45px;
    max-width: 90px;
}

#pb_top .panel_patrocinadores ul li img.square
{
	height: auto;
    max-height: 45px;
    max-width: 45px;
}
/* FIN DE BANNERS DE PATROS */

/* TABLA DE PATROS */
.tablaListadoPatrocinadores td.logoPatro
{
	width: 110px;
	padding-left: 0px;
}

.tablaListadoPatrocinadores > tbody > tr > td img.hrz {
    height: auto;
    max-height: 45px;
    max-width: 90px;
}

.tablaListadoPatrocinadores > tbody > tr > td img.vert {
    height: auto;
    max-height: 45px;
    max-width: 90px;
}

.tablaListadoPatrocinadores > tbody > tr > td img.square {
    height: auto;
    max-height: 45px;
    max-width: 45px;
}
/* FIN DE TABLA DE PATROS */

/* TABLA DE LISTADO DE MULTIACTIVIDADES */

.table#tablaActividades .dataNombreActividadEnColumnaSeleccion,
.table#tablaActividades .dataHoraEnColumnaFecha,
.table#tablaActividades .dataLugarEnColumnaFecha,
.table#tablaActividades .dataFecha
{
	display: none
}

.table#tablaActividades .dataFechaEnColumnaFecha
{
	display: block
}
.newPlainDefault .modal .botones button.close {
		background-color: #b8c4c2 !important;
    	border-color: #b8c4c2;
    	color:grey ;


    	}
/* FIN DE TABLA DE LISTADO DE MULTIACTIVIDADES */

/* TABLA LISTADO TOTAL DEL PARTICIPANTES */
.table#listadoParticipantesTotales .dataLPTTipoParticipante
{

}

.expTH{display:none;}

/* FIN TABLA LISTADO TOTAL DEL PARTICIPANTES */
.clas_lis_Part .data .icon-patrocinadores{font-size:1.5em;}

/*colores leyenda de programa*/
.leyenda-agenda .col-md-12 .sala .color1 {background-color: rgba(4, 153, 228, 0.25);}
.leyenda-agenda .col-md-12 .sala .color2 {background-color: rgba(4, 4, 228, 0.25);}
.leyenda-agenda .col-md-12 .sala .color3 { background-color: rgba(4, 228, 152, 0.25);}
.leyenda-agenda .col-md-12 .sala .color4 {background-color:rgba(188, 228, 4, 0.25);}
.leyenda-agenda .col-md-12 .sala .color5 { background-color: rgba(228, 178, 4, 0.25);}
.leyenda-agenda .col-md-12 .sala .color6 { background-color: rgba(255, 94, 76, 0.25);}
.leyenda-agenda .col-md-12 .sala .color7 { background-color: rgba(200, 112, 0, 0.25);}
.leyenda-agenda .col-md-12 .sala .color8 { background-color: rgba(114, 193, 78, 0.25);}
.leyenda-agenda .col-md-12 .sala .color9 { background-color: rgba(61, 189, 238, 0.25);}

.table > tbody > tr > td .data.data-tipo-participanteMOB
{
    display: none;
}

.table > tbody > tr > td .data.data-tipo-participanteDKT
{
    display: block;
}

/* MOBILES */
@media screen and (max-width: 767px)
{

	#pb_top
	{
		min-height: 0px;
		overflow: hidden;
	}

	#pb_top .panel_plain img
	{
		display: none;
	}

	#pb_top .panel_plain
	{
		height: 40px;
	}

	#pb_top .panel_inicio
	{
		height: 100px;
		overflow: hidden;
		position: relative;
	}

	#panelInicioDT
	{
		display: none
	}

	#panelInicioMB
	{
		display: block
	}

	#pb_top .panel_inicio img
	{
		height: 100px;
		left: 50%;
		margin-left: -383px;
		position: absolute;
		width: 767px;
	}

	#pb_top .crumb
	{
		height: 41px;
	}

	#pb_top .panel_patrocinadores ul
	{

	}

	.leyenda-agenda
	{
		display: none
	}

	/* BOTONES DE LA PANTALLA DE INICIO */
	.inicio .inicioButtons li a
	{
		/*max-height: 120px;
		min-height: 120px;*/

		max-height: 110px;
		min-height: 110px;
	}

	.inicio .inicioButtons li a .inicioButton, .inicio .inicioButtons li a .inicio-icon
	{
	    margin-top: 5px;
	}

	.inicio-icon
	{
		font-size: 5em;
	}

	.inicio .inicioButtons li a
	{
	    font-size: 0.8em;
	}

	#nav .navbar-toggle
	{
		position: fixed;
		left: 0;
		top: 0;
	}

	/* FIN DE LOS BOTONES DE LA PANTALLA DE INICIO */

	/* TABLA DE DOCUMENTOS */
	.tablaDocumentos .data-titulo
	{
		min-width: 200px;
	}

	.tablaDocumentos td.td-fecha
	{
		display: none
	}

	.table#tablaDocumentos > tbody > tr > td .cell-label {
	    width: auto;
	}
	/* FIN TABLA DE DOCUMENTOS */

	#pb_top .crumb p {
	    line-height: 3.6em;
	}

	/* ACTIVIDADES EN LA FICHA DE PONENTES */
	.actividadesFichaPonente
	{
		padding-left: 0px;
		padding-right: 0px
	}

	.tablaTitularActividades
	{
		/*display: none*/
	}
	/* FIN ACTIVIDADES EN FICHA DE PONENTES */

	/* SUBMENUS */
	#nav .navbar-nav .open .dropdown-menu > li > a
	{
	    padding: 15px 0 12px 75px;
	    white-space: normal;
	}
	/* FIN SUBMENUS */

	h4.cuentaResultadosBusqueda, h3.cuentaResultadosBusqueda
	{
		display: none;
	}

	.btn-pdf
	{
		/*display: none*/
	}

	.row-boton-pdf
	{
		/*display: none*/
	}

	.modal-body .botones button.btn-pdf
	{
		display: none;
	}

	.paginacion
	{
		display : none;
	}

	.paginacionMB
	{
		display: block;
	}

	.datosPersonales .avatar img
	{
	    margin-left: 0px;
	}

	.form-group.form-group-filtro-programa
	{
		padding-bottom: 0px
	}

	.table-pagos > tbody > tr:first-child
	{
	    border-top-width: 0;
	}

	.listadoParticipantes tr > td.td-oculto-mb
	{
		display: none
	}

	.table > tbody > tr > td .cell-label2 {
	}

	.table > tbody > tr > td .data2
	{
		display: inline-block;
		width: 20%;
	}

	.table > tbody > tr > td .data-previo-data2
	{
		width: 20%;
	}

	.table#tablaCodigos > tbody > tr > td .data2
	{
	    display: none;
	}

	.table > tbody > tr > td .checkbox.data-previo-data2
	{
		min-width: 70px;
	    width: 19%;
	}

	.table > tbody > tr > td .cell-label, .table > tbody > tr > td .data, .table > tbody > tr > td .checkbox
	{
		vertical-align: middle;
		z-index: 99;
	}

	.modal-body .botones-acciones-ventana button, .modal-body .botones-acciones-ventana .switch
	{
		margin-left: 10px
	}

	.modal input.cmn-toggle-round + label::before
	{
	    background: #ffffff url("/imgsAreaPrivada/assets/sprite-switchs.png") no-repeat scroll 0 0 320px 212px;
	    border-radius: 6px;
	    bottom: 1px;
	    color: white;
	    content: "";
	    display: block;
	    left: 1px;
	    padding-left: 28px;
	    padding-top: 11px;
	    position: absolute;
	    right: 1px;
	    /*top: 1px;*/
		top : 0px;
	    transition: background 0.2s ease 0s;
	}

	.modal-body input.cmn-toggle-round + label::after
	{
	    border-radius: 5px;
	    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
	    content: "";
	    display: block;
	    height: 46px;
	    left: 0px;
	    position: absolute;
	    top: 2px;
	    transition: margin 0.2s ease 0s;
	    width: 30px;
	}

	.modal input.cmn-toggle-round:checked + label::after {
	    margin-left: 54px;
	}

	.modal .botones .switch input.cmn-toggle-round + label
	{
	    height: 50px;
	    width: 86px;
	}

	.modal .switch input.cmn-toggle-round + label
	{
	    height: 25px;
	    width: 56px;
		border-radius: 7px;
    	margin-bottom: 0;
	}

	.title-mb
	{
		display: none
	}

	.col-md-4#classMDExpositor .listadoNecesidades
	{
		display: block
	}

	.col-md-8#classMDExpositor .listadoNecesidades
	{
		display: none
	}

	p.mensajeOculto
	{
		display: none
	}

	.listadoFrases > tbody > tr > td, .listadoFotos > tbody > tr > td
	{
	    padding-top: 0em;
	}

	.listadoFrases > tbody > tr > td:first-child, .listadoFotos > tbody > tr > td:first-child
	{
    	padding-top: 0em;
	}

	.listadoFrases > tbody > tr:first-child > td, .listadoFotos > tbody > tr:first-child > td
	{
	    padding-top: 0em;
	}

	.listadoFrases .cell-label.labelFrase, .listadoFotos .cell-label.labelFoto
	{
		width: 0%;
	}

	.listadoFrases .data.textoFrase, .listadoFotos .data.textoFoto
	{
		background: #fff;
		  border-left: 10px solid #ccc;
		  margin: 0em 10px;
		  padding: 0.5em 10px;
		  quotes: "\201C""\201D""\2018""\2019";
		  text-align: justify;
	}

	.listadoFrases .data.textoFrase:before
	{
		content : open-quote;
	}

	.listadoFrases .data.textoFrase:after
	{
		content : close-quote
	}

	.listadoFrases .data.textoFrase
	{
		width: 100%;
		font-style: italic;
	}

	.listadoFrases td#puntuacionMedia, .listadoFrases td#puntuacion, .listadoFotos td#puntuacionMedia, .listadoFotos td#puntuacion
	{
		width: auto;
	}

	.listadoFrases .data.puntuacion, .listadoFotos .data.puntuacion
	{
		width: 175px;
		float:left;
	}

	.puntuacion .rating > [type*="checkbox"] + label
	{
    	height: 1em;
	}

	.listadoFrases .dataAutorFrase, .listadoFotos .dataAutorFrase
	{
		font-size: 0.8em;
		text-align: right;
	}

	.table.listadoFrases > tbody > tr > td .data.dataAutorFrase, .table.listadoFotos > tbody > tr > td .data.dataAutorFrase
	{
	    width: 99%;
	}

	.listadoFrases .labelAutorFrase:empty, .listadoFrases .dataAutorFrase:empty, .listadoFotos .labelAutorFrase:empty, .listadoFotos .dataAutorFrase:empty
	{
	   display: none;
	}

	.listadoFrases span#puntuacionMedia, .listadoFotos span#puntuacionMedia
	{
		/*display: block;*/
		display: none;
		float: left;
		font-size: 0.9em;
		margin-left: 5px;
	}

	.listadoFrases span#textoMedia, .listadoFotos span#textoMedia
	{
		/*display: block;*/
		display: none;
		float:right;
		font-size: 0.9em;
		margin-left: 25px
	}

	td#puntuacionMedia div#puntuacionMedia, td#puntuacionMedia .cell-label
	{
		display: block
	}

	.table.listadoFotos > tbody > tr > td .cell-label
	{
    	width: 100%;
	}

	.table>tbody>tr>td img.hrz
	{
		width: 100%;
	}

	.listadoFrases #puntuacionMedia, .listadoFotos #puntuacionMedia
	{
		display: none
	}

	.listadoFrases span#textoMedia, .listadoFotos span#textoMedia
	{
		float:left
	}

	.data.dataFoto
	{

	}

	#tituloFoto
	{
		display: none
	}

	form .input-group .input-group-btn button[type="button"]
	{
	    font-size: 16px;
	    font-weight: normal;
	    height: 42px;
	}

	.table>tbody>tr>td img.square
	{
		max-height: 150px;
		max-width: 60px;
		height: auto;
	}

	.table.listadoRedesSociales > tbody > tr > td .cell-label {
	    max-width: 100px;
	    width: 9.8276%;
	}

	/* BANNERS DE PATROS */
	.inicio #pb_top .panel_patrocinadores ul
	{
		height: 90px;
	}
	/* FIN DE LOS BANNERS DE PATROS */

	/* TABLA DE MULTIACTIVIDADES */
	.table#tablaActividades .dataCheckBoxActividades
	{
		width: 40px;
		float:left;
		padding-left: 0px;
		margin-top: 0px;
		z-index: 1;
	}

	.table#tablaActividades .dataBotonActividadConfirmada
	{
		float: left;
		width:40px;
		margin-top: 0px;
	}

	.table#tablaActividades button
	{
		float:right;
		margin-right: 0px;
	}

	.table#tablaActividades .cell-label-fecha,
	.table#tablaActividades .cell-label-sala,
	.table#tablaActividades .cell-label-hora,
	.table#tablaActividades .data-titulo,
	.table#tablaActividades .dataFechaEnColumnaFecha,
	.table#tablaActividades .cell-label-titulo,
	.table#tablaActividades .td-titulo
	{
		display: none
	}

	.table#tablaActividades .dataNombreActividadEnColumnaSeleccion
	{
		display: inline-block;
		text-align: left;
		/*width: 80%;*/
		/*max-width: 450px;*/
		/*font-size: 0.77em;*/
		font-weight: bold;
		padding-left: 3px;
		float:left;

		overflow : hidden;
		text-overflow: ellipsis;
	    white-space: nowrap;
	    width: 70%;
	}

	.table#tablaActividades .dataFecha
	{
		display: block;
		width: 280px;
		padding-left: 0px;
		/*font-size: 0.77em;*/

		overflow : hidden;
		text-overflow: ellipsis;
	    white-space: nowrap;
	    width: 90%;
	}

	.table#tablaActividades .dataHoraEnColumnaFecha
	{
		display: inline-block;
		width: 40px;
		padding-left: 0px;
		font-size: 0.77em;
	}

	.table#tablaActividades .dataHoraEnColumnaHora
	{
		display: none;
	}

	.table#tablaActividades .dataLugarEnColumnaFecha
	{
		display: inline-block;
		width: 160px;
		padding-left: 0px;
		font-size: 0.77em;
	}

	.table#tablaActividades .dataSalaEnColumnaSala
	{
		display: none
	}

	.table#tablaActividades > tbody > tr > td:first-child
	{
	    padding-top: 0.38889em;
	}

	.table#tablaActividades > tbody > tr:first-child > td {
	    padding-top: 0.38889em;
	}

	.table#tablaActividades > tbody > tr > td:last-child {
	    margin-bottom: 0.33333em;
	    display: none
	}

	.table#tablaActividades .td-fecha, .table#tablaActividades .td-hora
	{
		text-align: left;
		padding-top: 0.33333em;
	}
	/* FIN TABLA MULTIACTIVIDADES */

	/* TABLA LISTADO TOTAL DEL PARTICIPANTES */
	.table#listadoParticipantesTotales .dataLPTTipoParticipante
	{
		display: none
	}

	.table#listadoParticipantesTotales .cell-label-tipo
	{
		display: none;
	}

	.table#listadoParticipantesTotales .label-marginTopButton
	{
		padding-top: 0.33333em;
		padding-bottom: 0.33333em;
		padding-left: 0px;
	}

	.table#listadoParticipantesTotales .label-tipo
	{
		display: none;
	}

	.table#listadoParticipantesTotales .label-foto
	{
		text-align: center
	}

	/* FIN TABLA LISTADO TOTAL DEL PARTICIPANTES */

	/* modificaciones empezadas el día 2017-02-07 */

	.table > tbody > tr > td:last-child
	{
	    margin-bottom: 0.1em;
	}

	.rowTituloListado
	{

	}

	div#listaPonentes
	{

	}

	.tableListadoPonentes
	{

	}

	/* tabla general */
	.table
	{
	    margin-top: 0;
	}

	/* titulo de listado general */
	.rowTituloListado h2
	{
		font-size: 1.67278em;
		line-height: 1.46801em;
	}

	/* columna cargo del ponente cuando no está relleno*/
	.tableListadoPonentes > tbody > tr > td.tdCargoOculto
	{
		padding-top : 0px;
		margin-bottom: 0px;
	}

	.tableListadoPonentes > tbody > tr > td .dataCargoOculto
	{
		min-height: 0px
	}

	.tableListadoPonentes td#contenedorCargo
	{
		padding-top: 0.1em;
		margin-top: 0px
	}

	/* Fin modificaciones empezadas el día 2017-02-07 */
	/* Carlos */
	 button.close
	 {
		background-color: #b8c4c2 !important;
    	border-color: grey;
    	color:grey ;
    	width: 34px ;
    	height:34px ;
    	margin-bottom:5px;
    	margin-top:10px;
    }

    	/*.row .col-md-12 h2{visibility:hidden;margin-bottom:0px;}*/
    	.row .col-md-12 .botones{margin-bottom:0px;}
		.logoEmp
		{
			position : relative;
			/* left : 130px !important; */
			left : 275px !important;
			bottom : 136px !important;
		}

    	.table > thead > tr { height:2.5em;}

	    thead tr th{padding-bottom:30px;max-height:1px;}
	    thead{max-height:3em;}
	    .accordion .tfeicon-accordion, .accordion .accordion-icon {
		    display: block;
		    position: absolute;
		    right: 12px;
		    top: 10px;}

	   /*  table.datosEmpresa thead tr th{padding-bottom:10px;}
	         table.datosPersonales thead  tr th{padding-bottom:10px;}*/

	/*	.accordion .tfeicon-accordion, .accordion .accordion-icon
			{
			display: block;
			position: absolute;
			top: 10px;
			right: 12px;
		}  */
		.col-md-4 .tablaActividadesFichaPonente thead{display:none;}
		.tablaActividadesFichaPonente {margin-bottom:-10px;margin-top:-8px !important;}


		/*busqueda de participantes información*/
		 .row .col-sm-12 h2 i{display:none;}
		.row .col-sm-12 form#fBuscadorPorNombre .form-group label{display:none;}
		form .form-control{height:35px;}
		.input-group-btn {height:35px !important;}
		 .input-group-btn button[ class="btn btn-default"]{height:30px !important;font-size:9.5px !important;}

		form .form-control {font-size:0.75em;height:30px;}
		/*#divAgenda .row {margin-top:-20px;}
		#divAgenda .row .col-md-4 h3{margin-bottom:4px;} */

		/*gestion horas*/
		/*#main_wrap #fGestionHoras .row .col-sm-12 p{display:none ;}
		#main_wrap #fGestionHoras .row .col-sm-12 h2{margin-bottom:1px;}
		h3.separador{border-width:0 0 0 !important;font-size:1.17em;}*/
		/*form#fBuscadorPorNombre .form-group .input-group {margin-bottom:1px;}*/
		#buscadorPorCampos #fBuscadorPorCampos .row .col-sm-12 h3{margin-top:0px;}
		/*tabla listado participantes*/
		/*#resultadosBusquedaParticipantes .col-sm-12 table#listadoParticipantes tbody tr td#seleccion .cell-label{display:none;}*/
		/*#headWrap + #main_wrap .row .col-sm-12 h2{margin-bottom:0px;margin-top:0px;font-size:1.6em;}*/


		/*form#fGestionHoras .row:nth-child(2) table.table tbody tr td{padding-top:3px;padding-bottom:2px !important;}
		.row #classMDExpositor table#datosPersonales:first-child thead tr th:not(.expTH){display:none;}

		.expTH{display:initial;padding-bottom:0px !important;padding-top:11px !important;}*/
		/*botón expositor*/
		/* .row div[class="botones form-group"] button{position:absolute;bottom:0.5px;margin-bottom:10px;margin-left:1.5px;margin-top:4px;} */
		/*#participantesMeHanSeleccionado .col-sm-12 table#meHanSeleccionado tbody tr td{float:left;}*/
		/*#participantesMeHanSeleccionado .col-sm-12 table#meHanSeleccionado tbody tr td:not(#contenedorNombre){}*/
		/*#resultadosBusquedaParticipantes .col-sm-12 table#listadoParticipantes tbody tr td:not(#contenedorNombre){float:left;}*/

		/*#resultadosBusquedaParticipantes .col-sm-12 table#listadoParticipantes tbody tr td:not(onclick){float:left;}
		#resultadosBusquedaParticipantes .col-sm-12 table#listadoParticipantes tbody tr td[onclick]{width:100%;}
		#resultadosBusquedaParticipantes .col-sm-12 table#listadoParticipantes tbody tr td:not(#contenedorNombre) .cell-label{display:none;}
		#resultadosBusquedaParticipantes .col-sm-12 table#listadoParticipantes tbody tr td:not(#contenedorNombre) .cell-label2{display:inline;}
		/*busqueda de mensaje*/
		/*#botonesAccesoDirecto + div.row .col-sm-12 #fBuscadorPorNombre .form-group:nth-child(2){margin-top:-20px;}
		#botonesAccesoDirecto .col-md-12 button[style]{font-size:0.8em;}*/
		/*mensajes*/
		/*#listaMensajes table#listadoMensajes tbody tr td:last-child .cell-label{visibility:hidden;}*/
		/* coldfusion */
		.pondato{margin-bottom:-10px !important;}

		/*tabla networking listado participantes metodo solicitud reuniones*/
		.nova{display:none !important;}
		.clas_lis_Part{display:inline !important; max-width:50% !important;float:left !important;min-width:20%;margin-bottom:20px !important;}
		.clas_lis_Part div{float:left !important;width:50% !important;}
		.clas_lis_Part div.cell-label-YTPTMA
		{
			width: 75% !important;
		}
		.clas_lis_Part div.data-YTPTMA
		{
			padding-left: 3px !important;
			width: 25% !important;
		}

		/*tabla networking listado participantes metodo solicitud preferencias*/
		.clas_lis_Part .nova + .data2{display:none !important;}
		.clas_lis_Part .switch{min-width:90%;margin-top:1px !important;}
		/*
			.DOSSIER .datIns{display:none;}
			.DOSSIER .botones-acciones-ventana{float:left;margin-top:10px;}
			.DOSSIER .botones-acciones-ventana button{max-height:50px !important;max-width:65px;}
			.DOSSIER .botones-acciones-ventana button i{margin-left:-0.2em !important;}
		*/

		/*metodo preferencias datos inscripción*/
		tbody.pdf tr td div.data{width:100%;}
		tbody.pdf tr td div{float:left;}
		/*quitar td productos */
		/*td.checq{display:none !important;}*/
		/*cambio en tabla buscador filtros participantes*/

		.cambioTabCo tbody tr td {width:40% !important; font-size:0.85em !important;}
		.cambioTabCo tbody tr td.check{width:20% !important;}
		.cambioTabCo tbody tr td.check .cell-label{display:none;}
		.product-form-group .table > thead
		{
			display : block !important;
		}
		.product-form-group .table > thead > tr {width:100%;display:block !important;}
		.product-form-group .table > thead > tr > th.check{width:20%;}
		.cambioTabCo thead tr th.chvac{width:38%;}

		/*participantes seleccionados*/
		.tab_selec .prior{display:none !important;}

		.tab_selec table tbody tr td .cell-label:not(.selMov){display:none;}
		.tab_selec table tbody tr td.ctabPrioridad{width:17%;float:right;padding-top:98px;padding-bottom:10px;}
		.tab_selec table tbody tr td.ctabNombre{width:80%;float:left;height:80px;}
		.tab_selec table tbody tr td.ctabTipo{width:25%;float:left;padding-bottom:10px;}

		.tab_selec table tbody tr td.ctabSeleccion{width:55%;float:left;padding-bottom:10px;}
		.tab_selec table tbody tr td.ctabSeleccion .data2{padding-left:12px;}
		.tab_selec table tbody tr td.ctabSeleccion .cell-label2{padding-left:9px;}

		.tab_selec table tbody tr td.prior {display:block !important;float:left;width:50%;}
		.tab_selec table tbody tr td.prior div.cell-label{display:inline;}
		.tab_selec table tbody tr td.prior div.data{display:inline;}
		/*seleccion participantes me han seleccionado*/
		.tab_selec_d table tbody tr td{float:left;}
		.tab_selec_d table tbody tr td.ctabNombre{width:100%;}
		.tab_selec_d table tbody tr td.ctabTipo{width:25%;}
		.tab_selec_d table tbody tr td.ctabTipo .cell-label{display:none;}
		.tab_selec_d table tbody tr td.ctabSeleccion{width:70%;}

		.tab_selec_d table tbody tr td.prior{display:none;}
		/**/
		.clas_milista .col-sm-12 form h3{font-size:1.2em;}
		/*botones networking solicitud reuniones*/
		.btn_nt {font-size:0.8em !important;}
		/*leyenda agenda*/
		.leyenda-agenda{display:inline-flex;}

		/*colores leyenda de programa*/
		.leyenda-agenda .col-md-12 .sala .color1 {background-color: rgba(4, 153, 228, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color2 {background-color: rgba(4, 4, 228, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color3 { background-color: rgba(4, 228, 152, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color4 {background-color:rgba(188, 228, 4, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color5 { background-color: rgba(228, 178, 4, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color6 { background-color: rgba(255, 94, 76, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color7 { background-color: rgba(200, 112, 0, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color8 { background-color: rgba(114, 193, 78, 0.25);}
		.leyenda-agenda .col-md-12 .sala .color9 { background-color: rgba(61, 189, 238, 0.25);}

		/*fecha programa*/

		.clas_progra h3{font-size:1em;}
		/*listado expositores (soló hay tres td)*/
		.clas_expo table tbody tr td:nth-child(1){float:left;width:80%;min-height:100px;padding-bottom:1.38889em;}
		.clas_expo table tbody tr td:nth-child(3){float:right;width:20%;padding-top:30px;}
		.clas_expo table tbody tr td:nth-child(3) div.cell-label2{display:none;}
		/*listado esponsors tiene 2 td*/
		.clas_patroc table tbody tr td{float:left;}
		.clas_patroc table tbody tr td.td_pat_log{width:30%;min-height:100px;}
		.clas_patroc table tbody tr td.td_pat_emp{width:70%;min-height:100px;}
		/*ficha expositor pdf*/
			/*botones*/
			.PDF_cab .col-md-12 h2{visibility:hidden;}
			.PDF_cab .col-md-12 .botones .btn-favoritos{position:absolute;top:10px;left:1px;margin-bottom:10px;height:50px;width:53px;}
			.PDF_cab .col-md-12 .botones .btn-favoritos i.icon-star-line{font-size:0.9em;}
		/*mensajes nuevos*/
			/*botones*/
			.msj_new_btn .col-md-12 button{font-size:0.8em;}
			/*select group*/
			.msj_new_busc .col-sm-12 .buscador .form-group{padding-bottom:0px;}
			.msj_new_busc .col-sm-12 .buscador .form-group .input-group{margin-bottom:0px;margin-top:3px;}
			/*listado*/
			.msj_new .col-sm-12 .listadoParticipantes tr .tdparti{float:right;width:20%;padding-top:50px;}
			.msj_new .col-sm-12 .listadoParticipantes tr .tdparti .cell-label{display:none;}
			.msj_new .col-sm-12 .listadoParticipantes tr .tdref{float:left;width:80%;}
			.msj_new .col-sm-12 .listadoParticipantes tr .clas_lis_Part{width:100%;padding-left:35%;padding-right:30%;}

			.msj_new .col-sm-12 .listadoParticipantes td.td-tipo-participante
			{
				padding-top: 0 !important;
			}

			.msj_new .col-sm-12 .listadoParticipantes td > div.data-tipo-participante
			{
				display: none
			}

		/*mensajes enviados*/
			/*botones*/
			.msj_env_b .col-md-12 button{font-size:0.8em;}
			/*listado*/
			.msj_env .listadoParticipantes tbody tr td.ocultar + td .cell-label{visibility:hidden;}
			.msj_env .listadoParticipantes tbody tr td{padding-top:7px;padding-bottom:4px;}
		/*mensajes recibidos*/
			/*botones*/
			.msj_reci_r .col-md-12 button{font-size:0.8em;}
			/*select group*/
			.msj_reci_b .col-sm-12 .buscador label{display:none;}
			/*lista*/
			.msj_reci .listadoParticipantes tbody tr .td-m4 .cell-label{display:none;}
			.msj_reci .listadoParticipantes tbody tr .td-m5 .cell-label{display:none;}
			.msj_reci .listadoParticipantes tbody tr .td-m4{float:right;width:17%;}
			.msj_reci .listadoParticipantes tbody tr .td-m4 .data{padding-left:0px;}
			.msj_reci .listadoParticipantes tbody tr .td-m5{float:left;width:83%;}
			.msj_reci .listadoParticipantes tbody tr .td-m5 .data{float:right;padding-left:15px;}
			.msj_reci .listadoParticipantes tbody tr td{padding-top:7px; padding-bottom:4px;}
		/*encuestas*/
			/*resultado encuestas*/
			.enc_res .listadoParticipantes tbody tr td {padding-top:6px;padding-bottom:5px;}
			/*realizar encuesta*/
			.enc_lis .listadoParticipantes tbody tr td {padding-top:6px;padding-bottom:5px;}
			/*enviar encuesta*/
			.enc_real .row .col-sm-12 h2{display:none;}
			.enc_real .row .botones .btn-default {position:absolute;top:1px;left :0px;}
			.enc_real .row .botones button{margin-top:20px;}
			/*.enc_real .preg .col-sm-12 div {margin-bottom:-15px;}*/

			.enc_real .preg .col-sm-12 div {margin-bottom:0px;}

			.enc_real .preg .col-sm-12 div.radio {margin-bottom:5px;}
		/*galeriar*/
			.clgal_g_gal .form-inline .form-group .btn {font-size:0.8em;height:2.8em;}
			.clgal_g button{width:48px;height:48px;font-size:0.8em;}
		/**/
			.DOSSIER .datIns, .ver-dato-mensaje .datIns, .realizar-encuesta .datIns
			{
				display: none;
				height:50px;
			}

			.ver-dato-mensaje button.btn-reenviar-mensaje, .realizar-encuesta button.btn-guardar-encuesta
			{
				margin-left: 0px
			}

			.modal-body .botones button
			{
			    float: left;
			}

			.modal-body .botones .switch
			{
				float:left
			}

			.modal-body .botones button, .modal-body .botones .switch {
			    height: 50px;
			}

			.newPlainDefault .modal .botones button.close {
			    margin-top: 0;
			}

			.modal input.cmn-toggle-round + label::before {
			    background: #ffffff url("/imgsAreaPrivada/assets/sprite-switchs.png") no-repeat scroll 0 0 / 300px 212px;
			}

		/*documentación*/
			.cls_datos_c .col-sm-12 h2{font-size:1.5em;margin-top:3px;margin-bottom:3px;}
			.cls_datos h3.separador{font-size:1em;margin-top:2px;margin-bottom:2px;}
			.cls_datos .tablaDocumentos{ font-size:0.9em;}
		/*favoritos*/
			.fav_exp table tbody tr .td2 .cell-label2{display:none;}
			.fav_exp table tbody tr .td1{float:left;width:80%;min-height:100px;}
			.fav_exp table tbody tr .td2{float:right;width:20%;min-height:100px;padding-top:10%;}
		/*gestión horas*/
			.net_horas .separador{border-width:0 0 0px;}
			.net_horas table tbody tr td{padding-top:7px !important;padding-bottom:3px !important;}
		/*ponentes*/
			.cabPon .col-md-12 h2{visibility:hidden;}
		/*estrella*/
		.botones button.btn-favoritos .icon-star-line::before, .botones button.btn-favoritos .icon-star-solid::before {
    		font-size: 1.7em;}

    	/* BUSCADOR YTPTMA */
    	.bootstrap-dialog-message .listadoParticipantes {
		    font-size: 16px;
		}

		.table > tbody > tr > td .data.data-tipo-participanteMOB
		{
			display: block;
		}

		.table > tbody > tr > td .data.data-tipo-participanteDKT
		{
			display: none;
		}

		.modal-body .datIns
		{
			display: none;
		}
}
/* FIN MOBILES */