/*@font-face {
  font-family: 'tfe-icons';
  src: url('../font/tfe-icons.eot?50971218');
  src: url('../font/tfe-icons.eot?50971218#iefix') format('embedded-opentype'),
       url('../font/tfe-icons.woff?50971218') format('woff'),
       url('../font/tfe-icons.ttf?50971218') format('truetype'),
       url('../font/tfe-icons.svg?50971218#tfe-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tfe-icons';
    src: url('../font/tfe-icons.svg?50971218#tfe-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tfe-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-acreditacion:before { content: '\e800'; } /* '' */
.icon-agenda:before { content: '\e801'; } /* '' */
.icon-bajar-archivo:before { content: '\e802'; } /* '' */
.icon-bandeja-leido:before { content: '\e803'; } /* '' */
.icon-bandeja-no-leido:before { content: '\e804'; } /* '' */
.icon-bandeja:before { content: '\e805'; } /* '' */
.icon-bono-avion:before { content: '\e806'; } /* '' */
.icon-bono-hotel:before { content: '\e807'; } /* '' */
.icon-borrar:before { content: '\e808'; } /* '' */
.icon-buscar-participante:before { content: '\e809'; } /* '' */
.icon-buscar:before { content: '\e80a'; } /* '' */
.icon-carpeta:before { content: '\e80b'; } /* '' */
.icon-comunicacion-cientifica:before { content: '\e80c'; } /* '' */
.icon-documento:before { content: '\e80d'; } /* '' */
.icon-documentos:before { content: '\e80e'; } /* '' */
.icon-editar-documento:before { content: '\e80f'; } /* '' */
.icon-encuestas:before { content: '\e810'; } /* '' */
.icon-enviado:before { content: '\e811'; } /* '' */
.icon-factura:before { content: '\e812'; } /* '' */
.icon-favoritos:before { content: '\e813'; } /* '' */
.icon-ficha-participante:before { content: '\e814'; } /* '' */
.icon-fotos:before { content: '\e815'; } /* '' */
.icon-galeria:before { content: '\e816'; } /* '' */
.icon-gestion-horas:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-info-2:before { content: '\e819'; } /* '' */
.icon-informacion:before { content: '\e81a'; } /* '' */
.icon-juegos:before { content: '\e81b'; } /* '' */
.icon-lista-participantes:before { content: '\e81c'; } /* '' */
.icon-mapa:before { content: '\e81d'; } /* '' */
.icon-mi-agenda:before { content: '\e81e'; } /* '' */
.icon-mis-datos:before { content: '\e81f'; } /* '' */
.icon-networking:before { content: '\e820'; } /* '' */
.icon-notas:before { content: '\e821'; } /* '' */
.icon-notificaciones:before { content: '\e822'; } /* '' */
.icon-pago-erroneo:before { content: '\e823'; } /* '' */
.icon-pago-pendiente:before { content: '\e824'; } /* '' */
.icon-pago-realizado:before { content: '\e825'; } /* '' */
.icon-pago:before { content: '\e826'; } /* '' */
.icon-participante-favorito:before { content: '\e827'; } /* '' */
.icon-password:before { content: '\e828'; } /* '' */
.icon-patrocinadores:before { content: '\e829'; } /* '' */
.icon-pendiente:before { content: '\e82a'; } /* '' */
.icon-ponentes:before { content: '\e82b'; } /* '' */
.icon-puntuar-documento:before { content: '\e82c'; } /* '' */
.icon-puntuar:before { content: '\e82d'; } /* '' */
.icon-qr-code:before { content: '\e82e'; } /* '' */
.icon-rechazado:before { content: '\e82f'; } /* '' */
.icon-comida:before { content: '\e830'; } /* '' */
.icon-reunion-solicitar:before { content: '\e831'; } /* '' */
.icon-reunion-validar:before { content: '\e832'; } /* '' */
.icon-reunion:before { content: '\e833'; } /* '' */
.icon-selc-participante:before { content: '\e834'; } /* '' */
.icon-social:before { content: '\e835'; } /* '' */
.icon-sorteo:before { content: '\e836'; } /* '' */
.icon-stands:before { content: '\e837'; } /* '' */
.icon-subir-archivo:before { content: '\e838'; } /* '' */
.icon-tarjeta-credito:before { content: '\e839'; } /* '' */
.icon-tfe:before { content: '\e83a'; } /* '' */
.icon-videos:before { content: '\e83b'; } /* '' */
.icon-votacion:before { content: '\e83c'; } /* '' */
.icon-zona-privada:before { content: '\e83d'; } /* '' */
.icon-star-line:before { content: '\e83e'; } /* '' */
.icon-star-solid:before { content: '\e83f'; } /* '' */
.icon-corazon:before { content: '\e840'; } /* '' */
.icon-ok:before { content: '\e841'; } /* '' */
.icon-cancel:before { content: '\e842'; } /* '' */
.icon-minus:before { content: '\e843'; } /* '' */
.icon-ayuda:before { content: '\e844'; } /* '' */
.icon-enviar-mensaje:before { content: '\e845'; } /* '' */
.icon-login:before { content: '\e846'; } /* '' */
.icon-logout:before { content: '\e847'; } /* '' */
.icon-down-open:before { content: '\e848'; } /* '' */
.icon-left-open:before { content: '\e849'; } /* '' */
.icon-right-open:before { content: '\e84a'; } /* '' */
.icon-up-open:before { content: '\e84b'; } /* '' */
.icon-angle-left:before { content: '\e84c'; } /* '' */
.icon-angle-right:before { content: '\e84d'; } /* '' */
.icon-angle-up:before { content: '\e84e'; } /* '' */
.icon-angle-down:before { content: '\e84f'; } /* '' */
.icon-premio:before { content: '\e850'; } /* '' */
.icon-enviar:before { content: '\e851'; } /* '' */
.icon-sort:before { content: '\e852'; } /* '' */
.icon-menu:before { content: '\e853'; } /* '' */
.icon-preguntas:before { content: '\e854'; } /* '' */
.icon-setup:before { content: '\e855'; } /* '' */
.icon-botiquin:before { content: '\e856'; } /* '' */
.icon-carrito:before { content: '\e857'; } /* '' */
.icon-vuelo:before { content: '\e858'; } /* '' */
.icon-dolar:before { content: '\e859'; } /* '' */
.icon-call:before { content: '\e85a'; } /* '' */
.icon-mensajes:before { content: '\e85b'; } /* '' */
.icon-stats:before { content: '\e85c'; } /* '' */
.icon-tren:before { content: '\e85d'; } /* '' */
.icon-mundo:before { content: '\e85e'; } /* '' */
.icon-wifi:before { content: '\e85f'; } /* '' */
.icon-euro:before { content: '\e860'; } /* '' */
.icon-bus:before { content: '\e861'; } /* '' */
.icon-pills:before { content: '\e862'; } /* '' */
.icon-laptop:before { content: '\e863'; } /* '' */
.icon-badge:before { content: '\e864'; } /* '' */
.icon-copas:before { content: '\e865'; } /* '' */
.icon-diploma:before { content: '\e866'; } /* '' */
.icon-hotel:before { content: '\e867'; } /* '' */
.icon-fabrica:before { content: '\e868'; } /* '' */
.icon-discapacitado:before { content: '\e869'; } /* '' */
.icon-coctel:before { content: '\e86a'; } /* '' */
.icon-relax:before { content: '\e86b'; } /* '' */
.icon-venue:before { content: '\e86c'; } /* '' */
.icon-taxi:before { content: '\e86d'; } /* '' */
.icon-equipaje:before { content: '\e86e'; } /* '' */
.icon-conversacion:before { content: '\e86f'; } /* '' */
.icon-ciencia:before { content: '\e870'; } /* '' */
.icon-natacion:before { content: '\e871'; } /* '' */
.icon-doctor:before { content: '\e872'; } /* '' */
.icon-birrete:before { content: '\e873'; } /* '' */
.icon-meteo:before { content: '\e874'; } /* '' */
.icon-sos:before { content: '\e875'; } /* '' */
.icon-ciudad:before { content: '\e876'; } /* '' */
