.v-center
{
    display:table;
	height: 200px;
}

.contenidoLoading {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.dialog-general
{

}


.dialog-general .modal-header
{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dialog-general .modal-header button.close
{
    height: 36px;
    width: 36px;
}

/* ALERT */
.dialog-alert .modal-dialog
{
	max-width: 600px;
	width: auto;
	height: 400px;
}

.dialog-alert .modal-header
{
	display: block
}

.dialog-alert .bootstrap-dialog-message
{
	margin: 10px
}

.dialog-alert .bootstrap-dialog-message
{
	margin: 10px
}

.dialog-alert .bootstrap-dialog-message .col-sm-12
{
	font-size: 0.8em;
	line-height: 1.20em;
}
/* FIN ALERT */

/* ERROR */
.dialog-error .modal-dialog
{
	max-width: 400px;
	width: auto;
	height: 400px;
}

.dialog-error .modal-header
{
	display: block
}

.dialog-error .bootstrap-dialog-message
{
	margin: 10px
}
/* FIN ERROR */

/* CONFIRM */
.dialog-confirm .modal-dialog
{
	max-width: 600px;
	width: auto;
	height: 400px;
}

.dialog-confirm .bootstrap-dialog-message
{
	margin: 10px
}

.dialog-confirm .bootstrap-dialog-message .col-sm-12
{
	font-size: 0.8em;
	line-height: 1.20em;
}

.dialog-confirm .modal-header
{
	display: block
}

.dialog-confirm .modal-footer
{
	height: 50px
}
/* FIN CONFIRM */

/* GALERIA DE IMAGENES */
.blueimp-gallery .modal-header
{
	display: block;
	border-bottom: 0px solid #e5e5e5;
}

.blueimp-gallery .modal-header button.close, .botones button.close {
    /*height: 28px;*/
    opacity: 100;
    /*width: 28px;*/
}

.blueimp-gallery .modal-footer {
    border-top: 0px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}

/*.blueimp-gallery .modal-body {
    max-width : 800px;
	max-height : 600px
}*/

/* FIN DE LA GALERIA DE IMAGENES */

.modal-body ul
{
	margin: 0px
}

.dialog-vista-previa-rs .modal-dialog
{
	width: 100%;
	max-width: 800px;
}

.dialog-vista-previa-rs .modal-dialog .modal-content
{
	width: auto;
	max-width: 800px;
}

.dialog-reenvio-mensaje .modal-dialog
{
	/*max-width: 900px*/
}

/* MOVILES */
@media screen and (max-width: 767px)
{
	.dialog-alert .modal-dialog
	{
		width: 100%;
	}
}

.dialog-cookies > .modal-dialog{
	max-width: 800px;
}