.tfe-texto-pregunta-de-control
{
    text-align : center
}

.tfe-tiempo-cierre-ventana-pregunta
{
    font-size: 2.35em;
    height: 55px;
    line-height: 55px;
}

@media screen and (max-width: 767px) 
{
    .tfe-tiempo-cierre-ventana-pregunta
    {
        font-size:1.777777778em;
        height: 1.5625em;
        line-height: 1.5625em;
        position: absolute;
        right: 65px;
        top: 0px;
    }
}